@import url('https://fonts.googleapis.com/css?family=Wire+One|Abel|VT323');

$mobile: 599px;

body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color: #222;
  height: 100vh;
  background: #151a26;
  display: flex;

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

p {
  user-select: none;
  margin: 5px 0 0 0;
  line-height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.circle-outer {
  z-index: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  flex-shrink: 0;
  width: 608px;
  height: 608px;

  @media (max-width: $mobile) {
    width: 320px;
    height: 320px;
  }
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.strict,
.start,
.on-toggle-inner {
  &:hover {
    cursor: pointer;
  }
}

.start-text {
  visibility: hidden;
}

.pie {
  border: 5px solid #222;
  width: 280px;
  height: 280px;
  transition: background 0.05s ease;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    width: 152px;
    height: 152px;
  }
}

.upper-left,
.upper-right {
  margin-bottom: 16px;
}

.bottom-right,
.upper-right {
  margin-left: 8px;
}

.upper-left,
.bottom-left {
  margin-right: 8px;
}

.upper-left {
  border-top-left-radius: 100%;
  background: #d0c435;

  .active {
    background: #f9e920;
  }

  .upper-left {
    margin-right: 3px;
  }
}

.upper-right {
  border-top-right-radius: 100%;
  background: #63b563;

  .active {
    background: #6bf26b;
  }
}

.bottom-left {
  border-bottom-left-radius: 100%;
  background: #3379a1;

  .active {
    background: #4abeff;
  }
}

.bottom-right {
  border-bottom-right-radius: 100%;
  background: #b54444;

  .active {
    background: #f74343;
  }
}

.upper-left,
.upper-right,
.bottom-left,
.bottom-right {
  @media (max-width: $mobile) {
    margin: 1px;
  }
}

.center-circle {
  text-align: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #222;
  background: #fff;
  width: 270px;
  height: 270px;
  z-index: 10;

  @media (max-width: $mobile) {
    width: 170px;
    height: 170px;
  }
}

.header {
  font-family: 'Wire One', sans-serif;
  font-size: 3em;
  margin: 20px 0 5px 0;
  letter-spacing: 3px;

  @media (max-width: $mobile) {
    font-size: 2.2em;
    margin: 15px 0 3px 0;
  }
}

.center-middle-wrap {
  bottom: 10px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 80px;
  width: 60px;
  margin: 0 10px;

  @media (max-width: $mobile) {
    height: 70px;
    width: 50px;
    margin: 0;
  }
}

.count-box {
  font-family: 'VT323', monospace;
  height: 50px;
  width: 100%;
  border: 3px solid #222;
  border-radius: 20%;
  background: #290404;
  font-size: 2.4em;

  @media (max-width: $mobile) {
    font-size: 2em;
    width: 80%;
    height: 40px;
  }
}

.count-box p {
  margin: 0;

  @media (max-width: $mobile) {
    line-height: 130%;
  }
}

.on-toggle-outer {
  height: 20px;
  width: 36px;
  background: #222;
  border: 2px solid #222;

  @media (max-width: $mobile) {
    height: 16px;
    width: 30px;
  }
}

.on-toggle-inner {
  border: 2px solid #222;
  background: #33b9fb;
  height: 16px;
  width: 16px;

  @media (max-width: $mobile) {
    height: 13px;
    width: 13px;
    border-width: 1px;
  }
}

.light {
  position: relative;
  bottom: 10px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 4px solid #222;

  @media (max-width: $mobile) {
    height: 18px;
    width: 18px;
  }
}

.pie,
.light,
.center-circle {
  @media (max-width: $mobile) {
    border-width: 2px;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.new-game-btn {
  font-family: 'Wire One', sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
  display: block;
  background: transparent;
  margin-top: 40px;
  cursor: pointer;
  border-color: #63b563;
  color: #63b563;

  &:hover {
    background: #63b563;
    color: #222;
  }
}

.welcome-screen-container {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 60px 3% 0;

  .content {
    width: 95%;
    max-width: 500px;
  }

  h1 {
    margin-bottom: 40px;
  }

  p {
    font-size: 22px;
    margin-top: 1em;
  }
}
